@import 'app.scss';

.section {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #14181d;
  color: white;
  padding-top: 150px;
}

.content {
  width: 100%;
  padding: 0 15px;

  @include breakpoint('lg') {
    width: 900px;
  }
  @include breakpoint('xl') {
    width: 1170px;
  }
}