.iconLink {
  z-index: 2;

  path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 6s ease-in-out infinite;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
