@import 'app.scss';

.headlineContainer {
  position: relative;
  height: 50px;
}

.headlineWrapper {
  display: inline-block;
  position: absolute;
  left: -50px;
  padding: 10px 20px 10px 50px;
  border: 4px solid white;
  background-color: $color-primary;
  transform: skew(-10deg, -3deg);
  box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 50%);
  z-index: 1;

  @include breakpoint('md') {
    position: relative;
    padding: 10px 20px;
    left: unset;
  }
}